@font-face {
    font-family: LobsterTwo;
    src: url(./fonts/LobsterTwo-Bold.ttf);
  }
  @font-face {
    font-family: Laila-Bold;
    src: url(./fonts/Laila-Bold.ttf);
  }
  
  .detailsColumn {
    overflow-y: scroll;
    float: left;
    width: 67%;
    padding: 10px;
    height: 840px;
    padding-top: 3em;
  }
  .listColumn {
    /* background-color: #D6E4E5; */
    margin-right: 1em;
    margin-left: 2em;
    float: left;
    width: 30%;
    padding: 10px;
    overflow-y: scroll;
    height: 840px;
  }
  .listColumn::-webkit-scrollbar {
    display: none;
}
  .listColumn{
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  *{
    box-sizing: border-box;
  }
  #menuu{
    margin-right: 0.5em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    width: 430px;
    display: inline-flex;
    margin: 1em;
    height: 220px;
    background-color: #F4F4F4;
  }
  
  #menuuH3{
    line-height: 1.5em;
    /* background-color: #f49d1a; */
    font-family: Karla;
    color: black;
    margin: 1.5em 1em 0 1em;
    font-size: 1.3em;
    font-weight: 700;
  }
  #menuPic{
    height: 100%;
    width:200px;
  }
  .menuuIcons{
    margin-bottom: 1em;
    margin-left: 1.5em;
    display: inline-flex;
  }
  .menuuIcons h6{
    margin: auto;
    font-size: 1.3em;
  }
  #menuFav{
    color: red;
    font-size: 2em;
    margin-right: 5px;
  }
  #menuVis{
    font-size: 2em;
    margin-right: 5px;
  }
  #menuu:active{
    scale: 0.97;
  }
  #mealCard{
    background-color: #f49d1a;
    width:100%;
   height: auto;
   margin: auto;
  }
 .mealCard{
  display: inline-flex;
  }
  #img{
    width: 500px;
    height: 100%;
  }
  #ingredients{
    margin-top: 1em;
    margin-left: 2em;
    font-size: px;
    font-family: Laila-Bold;
  }
  #dir{
    font-family: Laila-Bold;
    width:8em;
    height: 3em;
    font-size: 1em;
    border-radius: 8px;
    margin-left: 2em;
    margin-top: 1em;
    border: none;
  }
  #dir:hover{
    background-color: lightgrey;
  }
  #dir:active{
    scale:0.96;
  }
  #nuitrition{
    display: inline-flex;
  }
  .nut{
    text-align: center;
    margin:0 2em 0em 2em;
  }
  #foodgroup{
    font-size: 1.3em;
   font-weight: lighter;
  }
  #quantity{
    font-size: 1.2em;
    font-weight: 900;
  }
  #facts{
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
  }
  .fadeIn2 {
    padding: 1em;
    padding-top: 3em;
    font-family: Laila-Bold;
    animation: fadeIn 2s forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #directions{
    margin: 1em;
  }
  #backarrow{
    margin-left: 3em;
    margin-top: 1em;
    background-color: #f49d1a;
    padding: 1em;
    border-radius: 5px;
    opacity: 0.8;
  }
  #backarrow:hover{
opacity: 1;
  }
  #backarrow:active{
    scale:0.98;
  }
  #backarrow2{
    margin-bottom:2em;
    padding: 5px;
  }
  #backarrow2:active{
    scale:0.98;
  }
 
 #fav2{
  background-color:#f49d1a ;
  height: auto;
  margin-top: 1.2em;
  margin-left: 15em;
  border: none;
  padding: 0.5em;
  border-radius: 10px;
  margin-right: 0em;
 }
 #fav2:hover{
  background-color: black;
 }
 #fav2:active{
  scale:0.9;
 }
 #iconfav2{
  color: red;
  font-size:3em;
 }
 #totalLikes{
  margin-top: 0.8em;
  font-size: 2em;
 }
.form-control{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border:solid 1px #818589;
  font-family: 'Courier New', Courier, monospace;
  padding:0.5em;
font-size: 1em;
width: 500px;
height:50px
}
.send{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 5em;
  height: 50px;
  border: none;
  font-size: 20px;
 background-color:#818589;
 padding: 0;
 transform: translate(-45px);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border:solid 2px #50C878;
  outline: 0;
  }
.send:hover{
  background-color: #00A36C;
}
.send:active{
  scale: 0.95;
}
#commentBox{
  margin-top: 4em;
  padding: 1em;
  background-color: antiquewhite;
  width: 700px;
}
#post{
  color: #495057;
  cursor: pointer;
  font-size :2.5em;
  margin-top: 5px;
  transform: translate(-48px);
}
#post:hover{
color: black;
}
#post:active{
  scale: 0.97;
}
#arrowDown{
  position: relative;
  font-size: 2.2em;
 
}
#moreComments{
  cursor: pointer;
  margin-top: 1em;
  display: inline-flex;
  padding-top: 0;
}
#moreComments:hover{
  color: #818589;
}
#moreComments h6{
  margin-top: 0.2em;
  font-size: 1.1em;
}
.commSection{
  opacity: 0;
  /* visibility: hidden; */
  height:0px;
  width: 680px;
  }
.commentSection{
  opacity: 1;
  height: 350px;
  width: 650px;
width:700px;
background-color: antiquewhite;
}
#arrowUp{
  margin-left: 8em;
  font-size: 2.5em;
}
#arrowUp:hover{
  color: #818589;
}
#comImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5em;
}
#commentSlot{
  padding: 0.8em;
  width: 650px;
  background-color: whitesmoke;
  margin: 1em;
  display: inline-flex;
}
#comName{
  font-family: 'Courier New', Courier, monospace;
  margin-right: 1em;
  font-size: 1.4em;
  margin-bottom: 0.4em;
}
#actCom{
  color: #434242;
  margin-left: 0.6em;
  font-size: 1em;
  margin-bottom: 1em;
}
#time{
  margin-top: 0.3em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  color: #495057;
}
